/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Poppins", sans-serif;
}

.appbar {
	background-color: #f7d736;	
	display: flex;
	flex-direction: row;
	align-content: center;
	box-shadow: 0 1px 24px rgba(0, 0, 0, 0.75);
	margin-bottom: 1rem;
  transition: box-shadow 500ms ease-in-out;
}

.appbar:hover {
  box-shadow: 0 1px 17px rgba(0, 0, 0, 1);
}

.logo {
	width: 5%;
	margin: 0.75rem;
  transition: transform 150ms ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.35));
  transform: scale(103%);
  -webkit-transform: scale(103%);
  -moz-transform: scale(103%);
  -ms-transform: scale(103%);
  -o-transform: scale(103%);
}

.info-img {
  position: absolute;
  right: 0;
  vertical-align: middle;
  padding-top: 1.75em;
  padding-right: 1em;
  transition: transform 150ms ease-in-out;
}

.info-img:hover {
  cursor: help;
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
}

a:focus {
  outline:0;
}

.subtitle { 
  align-self: center;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  transition: background-image 200ms ease-in-out;
  position: relative;
  cursor: default;
}

/* .subtitle:hover{
  background-image: linear-gradient(90deg, #444212, #000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
} */

.subtitle::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1em;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}

.subtitle:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

/* .info-text {
  color: ;
} */

.form-card-style {
	display: flex;
	flex-direction: column;
  align-self: center;
	width: 33%;
  margin-right: auto;
	margin-left: auto;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5rem;
  border-radius: 0.35rem;
  transition: box-shadow 250ms ease-in-out;
}

.form-card-style:hover{
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
}

.form-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  margin: 0.75rem;
  position: relative;
  transition: color 250ms ease-in-out;
  font-family: "Poppins", sans-serif;
}

.form-card-title:focus {
  color: #9b870c;
  transition: color 250ms ease-in-out;
  outline:0;
}

.form-card-title:hover {
  color: #9b870c;
}

.autoresize {
  font-size: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
  resize: none;
	margin-bottom: 0.1rem;
}

.autoresize:hover {
  color: #9b870c;
  transition: color 250ms ease-in-out;
}

.autoresize:focus {
  color: #9b870c;
  transition: color 250ms ease-in-out;
  outline:0;
}

.texto-botao{
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.btn:hover .texto-botao {
  font-weight: 600;
}

.card-container {
	display: flex;
	justify-content: space-around;
  align-items: center;
  align-content: center;
	flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 4rem;
  margin-left: 4rem;
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  left: 0;
  right: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: auto;
  min-height: 8rem;
  max-width: 15rem;
  padding: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  border-radius: 0.35rem;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.4), 0px 0px 10px rgb(0, 0, 0, 0.05) inset;
  transition: transform 375ms ease-in-out, box-shadow 750ms;
  position: relative;
  -webkit-transition: transform 375ms ease-in-out, box-shadow 750ms;
  -moz-transition: transform 375ms ease-in-out, box-shadow 750ms;
  -ms-transition: transform 375ms ease-in-out, box-shadow 750ms;
  -o-transition: transform 375ms ease-in-out, box-shadow 750ms;
}

.card:hover,
.card:focus {
  box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  transform: rotate(0deg) scale(115%);
  -webkit-transform: rotate(0deg) scale(115%);
  -moz-transform: rotate(0deg) scale(115%);
  -ms-transform: rotate(0deg) scale(115%);
  -o-transform: rotate(0deg) scale(115%);
}

.card-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  /* font-size: 1.5rem; */
  font-size: 1.2vw;
  /* margin-top: -0.75rem; */
  cursor: default;
  /* position: relative; */
  justify-self: center;
  align-self: center;
  text-align: center;
}

.card-title:focus {
  outline:0;
}

.card-underline{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 500ms ease-in-out;
  -webkit-transition: background-size 500ms ease-in-out;
  -moz-transition: background-size 500ms ease-in-out;
  -ms-transition: background-size 500ms ease-in-out;
  -o-transition: background-size 500ms ease-in-out;
}

.card:hover .card-underline{
  background-size: 100% 0.1rem;
}

.card-content {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2rem;
  /* color:#4c4c4c; */
  color:#333333;
  /* color:#262626; */
  align-self:center;
  cursor: default;
  text-align: center;
}

.card-content:focus {
  outline:0;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  height: 2.5rem;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 0.15rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  background-color: #f7d736;
  transition: background-color 0.3s;
  font-size: 1rem;
  /*font-weight: bold;
  */border: none;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
  margin-top: -0.65rem;
  transition: box-shadow 250ms ease-in-out, scale 100ms ease-in-out;
  -webkit-transition: box-shadow 250ms ease-in-out, scale 100ms ;
  -moz-transition: box-shadow 250ms ease-in-out, scale 100ms ;
  -ms-transition: box-shadow 250ms ease-in-out, scale 100ms ;
  -o-transition: box-shadow 250ms ease-in-out, scale 100ms ;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-in-out-out, padding-top 0.2s ease-in-out-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6), 0px 5px 10px rgb(255, 249, 171, 0.6) inset;
  scale: 1.005;
}

.delete-content{
  /* display: block !important; */
  opacity: 0;
  margin: 0.5em;
  position: absolute;
  top: 0; 
  right: 0;
  -webkit-transition : all 150ms ease-in-out;
}

.edit-content{
  height: 14%;
  opacity: 0;
  margin: 0.5em;
  position: absolute;
  top: 0; 
  left: 0;
  -webkit-transition : all 150ms ease-in-out;
}

/* .edit-content{
  height: 14%;
  opacity: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.2em;
  position: absolute; 
  top: 0; 
  right: 2em;
  -webkit-transition : all 200ms ease-in-out;
} */

.card:hover .delete-content {
  opacity: 50%;
  -webkit-transition : all 250ms ease-in-out;
}

.card:hover .delete-content:hover {
  opacity: 100%;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  /*filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));*/
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.delete-content:focus {
  outline:0;
}

.card:hover .edit-content {
  opacity: 50%;
  -webkit-transition : all 250ms ease-in-out;
}

.card:hover .edit-content:hover {
  opacity: 100%;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(240deg) brightness(104%) contrast(97%);
  /*filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  */
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(240deg) brightness(104%) contrast(97%);
}

.edit-content:focus {
  outline:0;
}

.restore-content{
  position: absolute;
  /* right: 49.5em; */
  /* padding: 0.75em; */
  -webkit-transition : all 200ms ease-in-out, transform 700ms ease-in-out;
}

.restore-content:hover {
  filter: invert(40%) sepia(51%) saturate(2878%) hue-rotate(15deg) brightness(104%) contrast(97%) drop-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
  transform: rotate(-360deg);
}

.restore-content:focus {
  outline:0;
}

.button-form {
  transform: scale(0);
}

.botao-invisivel{
  /* background-color: #4c4c4c; */
  background: transparent;
  border: none !important;
  opacity: 0;
  position: absolute;
  left: 1;
  right: 1;
  top: 1;
  bottom: 1;
}

.form-restore {
  position: relative;
  top: -10.5em;
  /* right: -81em; */
  right: -78em;
	display: flex;
	flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 1em;
}

.delete-edit-form{
  position: relative;
  top: -8.12em;
  right: -0.5em;
}

.edit-form-card-title{
  background: transparent;
  border: none !important;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-emphasis-color: black;
  width: 100%;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  resize:none;
  overflow:scroll;
}

.edit-form-card-content{
  background: transparent;
  border: none !important;
  justify-self: center;
  align-self: center;
  /* height: 4.5vw; */
  text-align: center;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  resize:none;
  overflow:scroll;
}

.edit-form{
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.edit-form-card-content::-webkit-scrollbar {
  display: none;
}

.edit-form-card-title::-webkit-scrollbar {
  display: none;
}

.card-rotation-1  {background-color: #ead3a7}
.card-rotation-2  {background-color: #9de0f5}
.card-rotation-3  {background-color: #ef89ba}
.card-rotation-4  {background-color: #fae890}
.card-rotation-5  {background-color: #abe9c1}
.card-rotation-6  {background-color: #ead3a7}
.card-rotation-7  {background-color: #9de0f5}
.card-rotation-8  {background-color: #ef89ba}
.card-rotation-9  {background-color: #fae890}
.card-rotation-10 {background-color: #abe9c1}
.card-rotation-11 {background-color: #ead3a7}
.card-rotation-12 {background-color: #9de0f5}
.card-rotation-13 {background-color: #ef89ba}
.card-rotation-14 {background-color: #fae890}
.card-rotation-15 {background-color: #abe9c1}

.card-rotation-1  {transform: rotate(2deg);}
.card-rotation-2  {transform: rotate(4deg);}
.card-rotation-3  {transform: rotate(6deg);}
.card-rotation-4  {transform: rotate(-2deg);}
.card-rotation-5  {transform: rotate(-4deg);}
.card-rotation-6  {transform: rotate(-6deg);}

.card-rotation-7  {transform: rotate(2deg);}
.card-rotation-8  {transform: rotate(4deg);}
.card-rotation-9  {transform: rotate(6deg);}
.card-rotation-10 {transform: rotate(-2deg);}
.card-rotation-11 {transform: rotate(-4deg);}
.card-rotation-12 {transform: rotate(-6deg);}

.card-rotation-13 {transform: rotate(2deg);}
.card-rotation-15 {transform: rotate(4deg);}
.card-rotation-17 {transform: rotate(6deg);}
.card-rotation-19 {transform: rotate(-2deg);}
.card-rotation-20 {transform: rotate(-4deg);}
.card-rotation-21 {transform: rotate(-6deg);}
